<!DOCTYPE html>


<!-- im www:   localhost im terminal finden mit "ruby server.rb" .....hier: http://localhost:4567/ -->

<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <title>My UX Projects</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation-flex.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/noframework.waypoints.js"></script>
    <script src="/animation.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

  </head>


  <body>
    <%= yield %>
  </body>

</html>
