





    <div class="row">
      <div class="small-2 columns">
        <button type="button" class="button" data-toggle="offCanvas">Open Menu</button>
      </div>
      <div class="small-8 small-centered columns text-center">
        <img class="img-circle" src="./foto2.jpg">
        <br>
        <br>
        <h1 class="animated fadeInDown">Viktoria Kluckner</h1>
        <h2>UX Designer</h2>
      </div>
      <div class="small-2 columns">
      </div>
    </div>

    <div class="row">
      <div class="small-12 small-centered large-uncentered columns text-justify">
          <p>
            I grew up in Austria close to Innsbruck...
            Based on my background in Psychology and Educational Science I worked in several different national and international projects.
            Most of the projects focused on how users interact with sensors, webpages or apps.
            Therefore I know how important it is to involve users into the development process and to test the products with real users.
            User Centered Design Approach, iterative design process, .... are only some of the keywords.
            <br>
            Previously I worked with clients like: Post, Migros, Veloplus, Filme für die Erde, Econoxx, ...
            <br>
            My tasks contain Strategy Workshops (vision, needs, requirements, etc), Research, Wireframes, clickable Prototypes, User Testings (procedure, evaluation, offering solutions how to solve issues), etc.
            <br>
            In the meantime, I am learing how to code (HTML, CSS, JavaScript, Ruby and Ruby on Rails).
            <br>
            <contact>
              <p>Contact: <a href="mailto:viktoria.kluckner@gmail.com">
              viktoria.kluckner@gmail.com</a></p>
            </contact>
          </p>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <hr>
          <div id="horizontalline" style="float:left; margin:0; width:100%;">
          </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-5 large-3 small-centered large-uncentered columns">
        <img src="./placeholder.png">
      </div>
      <div id="project1" class="small-12 medium-7 large-9 small-centered large-uncentered columns text-justify">
        <h3><b>Project 1</b></h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <b>Client:</b> Lorem Ipsum<br>
        <b>Technology:</b> Axure, HTML5, CSS, JS<br>
        <a href="http://www.liip.ch/en/what/projects/">More</a><br>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <hr>
          <div id="horizontalline" style="float:left; margin:0; width:100%;">
          </div>
      </div>
    </div>

    <div class="row">
      <div id="project2" class="small-12 medium-7 large-9 small-centered large-uncentered columns text-justify">
        <h3><b>Project 2</b></h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <b>Client:</b> Lorem Ipsum<br>
        <b>Technology:</b> Sketch<br>
        <a href="http://www.liip.ch/en/what/projects/">More</a><br>
      </div>
      <div class="small-12 medium-5 large-3 small-centered large-uncentered columns">
        <img src="./placeholder.png">
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <hr>
          <div id="horizontalline" style="float:left; margin:0; width:100%;">
          </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-5 large-3 small-centered large-uncentered columns">
        <img src="./placeholder.png">
      </div>
      <div id="project3" class="small-12 medium-7 large-9 small-centered large-uncentered columns text-justify">
        <h3><b>Project 3</b></h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <b>Client:</b> Lorem Ipsum<br>
        <b>Technology:</b> Axure, HTML5, CSS, JS<br>
        <a href="http://www.liip.ch/en/what/projects/">More</a><br>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <hr>
          <div id="horizontalline" style="float:left; margin:0; width:100%;">
          </div>
      </div>
    </div>


    <div class="row">
      <div class="small-4 columns">
      </div>
      <div class="small-4 small-centered columns text-center">
        <br>
        <h1 class="animated fadeInDown">Services</h1>
      </div>
      <div class="small-4 columns">
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-5 large-4 columns text-justify">
        <img src="./placeholder.png">
        <h3><b>Strategy Workshop</b></h3>
        <p>
          Vision, Needs, Requirements,... Lorem Ipsum is simply dummy text.
        </p>
      </div>
      <div class="small-12 medium-5 large-4 columns text-justify">
        <img src="./placeholder.png">
        <h3><b>Text</b></h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
      </div>
      <div class="small-12 medium-5 large-4 columns text-justify">
        <img src="./placeholder.png">
        <h3><b>Text</b></h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
      </div>
      <div class="small-1 columns">
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <hr>
          <div id="horizontalline" style="float:left; margin:0; width:100%;">
          </div>
      </div>
    </div>

    <footer>
      <div class="row">
        <div class="small-12 columns text-justify">
          <p>All content © 2016 Viktoria Kluckner, Zurich</p>
        </div>
      </div>
    </footer>
