h1 {
  color: #008060;
  font-size: 40px;
}

h2 {
  color: #008060;
  font-size: 30px;
  font-style: italic;
}

h3 {
  color: #008060;
  font-size: 20px;
}

hr {
    border-bottom: 2px solid #008060;
}

.animated.fadeInDown {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

.animated.fadeInUp {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

.img-circle {
    border-radius: 50%;
    width: 200px;
}
